@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.active:active {
  color: red;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.row {
  display: flex;
  flex-direction: row;
  /* align-content: flex-start; */
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-basis: 100%;
  flex: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.anchor {
  color: white;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  position: sticky;
  top: 0;
}

.fixed-header {
  position: sticky;
  top: 0;
  z-index: 1;
  position: -webkit-sticky;
}

.align {
  align-items: center;
}

.align-me {
  display: flex;
  align-items: center;
}

.margin-top {
  margin-top: 10%;
}

.show-more {
  height: 45vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.centre-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
}

.cardMargin {
  margin-top: 10px;
}

.shadow-box {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.no-padding {
  padding: 0px !important;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.flex-button {
  display: "flex";
  justify-content: "flex-end";
}

.bg-gray {
  background-color: rgb(207, 204, 204);
}

.tab-font-size {
  font-size: small;
  color: rgba(0, 0, 0, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(209, 241, 243);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
